* {
    box-sizing: border-box;

}

body {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 14px;
    margin: 0;
    color: hsl(217, 12%, 63%);
}

h2 {
    margin: 0;
    color: #fff;
    font-weight: 400;
}

.rating-container {
    background-color: hsl(215, 28%, 16%);
    border-radius: 15px;
    padding: 1.4rem;
    height: 355px;
    width: 320px;
    /* display: none; */
}

.rating-container h2 {
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 1.2rem;
}

.rating-container p {
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 0.8rem;
}

.thankyou-container {
    background-color: hsl(215, 28%, 16%);
    border-radius: 15px;
    padding: 1.4rem;
    height: 355px;
    width: 320px;
    text-align: center;
    display: none;
}

.thankyou-container h2 {
    margin-top: 1.5rem;
}

.thankyou-container p {
    margin-top: 1rem;
    line-height: 1.5;
}

.long-container {
    background-color: hsl(216, 17%, 23%);
    border-radius: 50px;
    margin-top: 1rem;
    margin-left: 54px;
    margin-right: 54px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.long-container p {
    margin-top: 0;
}

.rating {
    color: hsl(25, 97%, 53%);
}

.round-container {
    background-color: hsl(216, 17%, 23%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.round-container:active {
    background-color: hsl(25, 97%, 53%);
}

.star {
    width: 14px;
}

.score {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    color: hsl(217, 12%, 63%);
}

.score div {
    font-size: 14px;
    font-weight: 400;
}

.submit-btn {
    margin-top: 1.5rem;
    background-color: hsl(25, 97%, 53%);
    text-align: center;
    width: 100%;
    height: 42px;
    border-radius: 50px;
    border: none;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    color: #fff;
    cursor: pointer;
}

.submit-btn:active {
    background-color: #fff;
    color: hsl(25, 97%, 53%);
}

.attribution { 
    font-size: 11px; 
    margin: 1rem auto;
    position: sticky;
    color: #fff;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px){
    p {
        font-size: 15px;
    }
    .rating-container {
        background-color: hsl(215, 28%, 16%);
        border-radius: 30px;
        padding: 2rem;
        height: 420px;
        width: 410px;
    }

    .round-container {

        width: 48px;
        height: 48px;
    }   
    .star {
        width: 16px;
    }
    
    .rating-container h2 {
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 1.7rem;
    }
    
    .rating-container p {
        line-height: 1.7;
        margin-bottom: 0;
        margin-top: 0.8rem;
    }

    .submit-btn {
        height: 46px;
    }

    .thankyou-container {
        background-color: hsl(215, 28%, 16%);
        border-radius: 30px;
        padding: 2rem;
        height: 420px;
        width: 410px;
        /* display: none; */
    }
    
    #thank-you-img {
        margin-top: 0.5rem;
    }

    .long-container {
        margin-left: 78px;
        margin-right: 78px;
        margin-top: 1.7rem;
    }
    
    .long-container p {
        margin: 0;
        padding: 0;
    }

    .thankyou-container h2 {
        margin-top: 2.2rem;
        font-size: 1.8rem;
    }
    
    .thankyou-container p {
        line-height: 1.5;
    }
}